

body {
  background: #44BBA4;
  font-family: 'Josefin Sans', sans-serif;
  color: #081D36;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 5%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
  width: 100%;
}

footer {
  width: 97vw;
  height: 17vh;;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background: #081D36;
  color: #D3D0CB;
  border: solid #D3D0CB;
}

.info-box {
  width: 25%;
  text-align: center;
}

.genre {
  display: flex;
  justify-content: center;
}

.widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #E7E5DF;
  border: thin #D3D0CB;
  border-radius: 7px;
}

.small-widgets {
  display: flex;
  justify-content: space-between;
}

.activity-numbers {
  margin: 1vw;
  height: 32vh;
  width: 22vw;
}

.activity-data-week {
  margin: 1vw;
  position: relative;
  height: 32vh;
  width: 52vw;
}

.sleep-data-doughnut {
  margin: 2vh;
  width: 22vw;
  height: 32vh;
  line-height: 0.5em;
}

.sleep-data-week {
  margin: 2vh;
  position: relative;
  height: 32vh;
  width: 52vw;
}

.hydration-data-week {
  position: relative;
  margin: 1vw;
  height: 32vh;
  width: 40vw;
}
.hydration-data-today {
  position: relative;
  margin: 1vw;
  height: 32vh;
  width: 25vw;
}
.sleep-doughnut-wrapper {
  position: relative;
  height: 12vh;
  width: 17vw;
}

.hydration-doughnut-wrapper {
  position: relative;
  height: 25vh;
  width: 25vw;
}

.activity-numbers_stats {
  display: flex;
  flex-direction: column;
  width: 100%;
  line-height: .1em;
  align-items: center;
  text-align: center;
}

.bottom-stats {
  width: 85%;
  display: flex;
  justify-content: space-between;
}

/* TEXT ELEMENTS*/
.minutes {
  font-weight: bolder;
  color: #D45E5E;
  text-shadow: 1px 1px 1px #2F0101;
}

.distance {
  font-weight: bolder;
  color: #C50031;
  text-shadow: 1px 1px 1px #2F0101;
}

.steps {
  font-weight: bolder;
  color: #F79D03;
  text-shadow: 1px 1px 1px #2F0101;
}

.stairs {
  font-weight: bolder;
  color: #EDC610;
  text-shadow: 1px 1px 1px #2F0101;
}


.sleep-hours {
  color: #666;
  font-weight: bold;
  font-size: 12px;
}

.label {
  font-size: 1.2vw;
}

.sleep-hours-number {
  color: #AD94CD;
  text-shadow: 1px 1px 1px #2F0101;
}

.sleep-doughnut-headline {
  position: relative;
  font-style: italic;
  font-size: 0.8em;
  left: 28%;
  bottom: 1%;
}

.widget-heading {
  font-size: 16px;
}

.site-title {
  font-size: 40px;
  font-style: italic;
  text-decoration-line: underline;
}

.user-info_content_title {
  color: #081D36;
  background-color: #D3D0CB;
  padding: 0.1em;
}

.user-info-item {
  font-size: 1.5vw;
}

/* Responsive Breakpoints */
@media screen and (min-width: 70em) {

  .widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #E7E5DF;
    border: thin #D3D0CB;
    border-radius: 7px;
  }

  header {
    display: flex;
    width: 100%;
    height: 10%;
  }

  main {
    flex-direction: row;
    height: 70%;
    width: 100%;
  }

  .footer {
    width: 98vw;
    height: 15vh;;
  }

  .genre {
    flex-direction: column;
  }

  .activity-numbers {
    height: 28vh;
    width: 19vw;
  }

  .activity-data-week {
    margin-top: 1vh;
    height: 35vh;
    width: 40vw;
  }

  .sleep-data-doughnut {
    width: 16.5vw;
    height: 30vh;
  }

  .sleep-data-week {
    height: 35vh;
    width: 35vw;
  }

  .hydration-data-week {
    height: 33vh;
    width: 20vw;
  }
  .hydration-data-today {
    height: 30vh;
    width: 20vw;
  }
  .sleep-doughnut-wrapper {
    height: 11vh;
    width: 15vw;
  }

  .hydration-doughnut-wrapper {
    height: 25vh;
    width: 25vw;
  }

  .label {
    font-size: 1vw;
  }

  .user-info-item {
    font-size: 1.2vw;
  }

}

@media screen and (max-width: 45em) {
  header {
    flex-direction: column;
    align-items: center;
    height: 30%;
  }
  main {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  footer {
    height: 16vh;;
  }
  .genre {
    flex-direction: column;
  }
  .activity-data-week {
    margin:1vh;
    width: 32em;
    height: 14em;
  }
  .hydration-data-week {
    margin:1vh;
    width: 18em;
    height: 16em;
  }
  .activity-numbers {
    margin:1vh;
    width: 15em;
    height: 14em;
  }
  .hydration {
    flex-direction: row;
  }
  .hydration-data-today {
    margin:1vh;
    width: 12em;
    height: 16em;
  }
  .sleep-data-week {
    margin:1vh;
    width: 32em;
    height: 14em;
  }
  .sleep-data-doughnut {
    line-height: 0;
    margin:1vh;
    width: 15em;
    height: 15em;
  }
  .sleep-doughnut-wrapper {
    margin:1vh;
    height: 8em;
    width: 12em;
  }
  .label {
    font-size: 12px;
  }
  .user-info-item {
    font-size: 12px;
  }
}
